<div class="container">
   <div class='row'>
       <div class='col-md-12'>
        <div class="card shadow p-3 mb-0" >
            <ng-container>
        <div class="row">
            <div class="col-md-2 col-sm-4 mb-3">
                <div class="shadow-sm">
                <h3 class='borderBottomStyle'> Udise Code</h3>
                <p class="Pheading">{{schoolProfile.udiseCode}}</p>
                </div>
            </div>
        
             <div class="col-md-4 col-sm-4 mb-3">
                <div class="shadow-sm">
                <h3 class='borderBottomStyle'> School Name</h3>
                <p class="Pheading">{{schoolProfile.schoolName}}</p>
                </div>
            </div>
        
            <div class="col-md-3 col-sm-4 mb-3">
                <div class="shadow-sm">
                <h3 class='borderBottomStyle'>School Category</h3>
                <p class="Pheading">{{schoolProfile.schoolCategory}}</p>
                </div>
            </div>
        
            <div class="col-md-3 col-sm-4 mb-3">
                <div class="shadow-sm">
                <h3 class='borderBottomStyle'>School Type</h3>
                <p class="Pheading">{{schoolProfile.schoolType}}</p>
                </div>
            </div>
        
            <div class="col-md-2 col-sm-4">
                <div class="shadow-sm">
                <h3 class='borderBottomStyle'>Class From</h3>
                <p class="Pheading">{{schoolProfile.classFrom}}</p>
                </div>
            </div>
        
            <div class="col-md-2 col-sm-4">
                <div class="shadow-sm">
                <h3 class='borderBottomStyle'>Class To</h3>
                <p class="Pheading">{{schoolProfile.classTo}}</p>
                </div>
            </div>
        
            <div class="col-md-3 col-sm-4">
                <div class="shadow-sm">
                <h3 class='borderBottomStyle'>State Name</h3>
                <p class="Pheading">{{schoolProfile.stateName}}</p>
                </div>
            </div>
        
            <div class="col-md-3 col-sm-4">
                <div class="shadow-sm">
                <h3 class='borderBottomStyle'>District Name</h3>
                <p class="Pheading">{{schoolProfile.districtName}}</p>
                </div>
            </div>
        
            <div class="col-md-2 col-sm-4">
                <div class="shadow-sm">
                <h3 class='borderBottomStyle'>Block Name</h3>
                <p class="Pheading">{{schoolProfile.blockName}}</p>
                </div>
            </div>
        </div>   
        </ng-container>
        </div>
          
       </div>
   </div>
</div>

